radius = 0.25em;
swing_area = 5em;
diameter = 2 * radius;

:host {
  display: block;
}

.container {
  width: swing_area;
  height: diameter;
  border-radius: radius;
  background-color: blue;
}

.pendulum {
  width: diameter;
  height: diameter;
  border-radius: 50%;
  background-color: red;
}