header {
  h1 {
    padding: 0 1em;
    font-size: 2em;
    font-weight: lighter;
  }
}

section {
  box-sizing: border-box;
  margin: 2em;
  border-radius: 0.5em;
  border: 1px solid #37301517;
  background-color: white;
}

.currency-badges {
  display: grid;
  padding: 1em;
  grid-auto-flow: row;
  // TODO: grid should wrap max-content
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  grid-gap: 1em;
}